*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
.users {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.form {
    margin: 50px auto;
    width: 20%;
    border: 2px solid black;
    text-align: center;
}
.form input {
    height: 30px;
    margin-top: 15px;
}
.form button {
    width: 50px;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.form button:hover {
    background-color:#000000;
    color: #ffffff;
}